<div class="container">
    <h3 mat-dialog-title>User id: {{data.id}}</h3>

    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
        <div class="form">
            <mat-form-field color="accent">
              <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" required readonly >
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
    
          <div class="form">
            <mat-form-field color="accent">
              <input matInput #input class="form-control" placeholder="Nome" [(ngModel)]="data.nome" name="nome" required>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
    
          <div class="form">
              <mat-form-field color="accent">
                <input matInput #input class="form-control" placeholder="Login" [(ngModel)]="data.login" name="login" required>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
          </div>
    
          <div class="form">
              <mat-form-field color="accent">
                <input matInput #input class="form-control" placeholder="Senha" [(ngModel)]="data.senha" name="senha" required>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
          </div>
    
          <div class="form">
              <mat-form-field color="accent">
                <input matInput #input class="form-control" placeholder="Ativo" [(ngModel)]="data.senha" name="senha" required>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
          </div>

          <div mat-dialog-actions>
              <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Salvar</button>
              <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
            </div>
    </form>

</div>